<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('汇总情况')"/>
</head>
<body class="gray-bg">
<div class="container-div">

    <div class="tabs-container">
        <a class="btn btn-info" onclick="mImportExcel(1)">
            <i class="fa fa-upload"></i> 消耗明细导入
        </a>
        <a class="btn btn-info" onclick="mImportExcel(2)">
            <i class="fa fa-upload"></i> 任务导入
        </a>
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tab-1" aria-expanded="true" onclick="initTable(1)">个人消耗情况汇总</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-2" aria-expanded="false" onclick="initTable(2)">消耗完成率排名</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-3" aria-expanded="false" onclick="initTable(3)">华东华北消耗整体完成率</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 search-collapse">
                            <form id="formId1">
                                <div class="select-list">
                                    <ul>
                                        <li>
                                            期间：<input type="text" name="quarter"/>
                                        </li>

                                        <li>
                                            <a class="btn btn-primary btn-rounded btn-sm" onclick="mySearch(1)"><i
                                                    class="fa fa-search"></i>&nbsp;搜索</a>
                                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('formId1')"><i
                                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                                            <a class="btn btn-primary btn-rounded btn-sm"
                                               onclick="myExportExcel(1)"><i class="fa fa-download"></i> 导出</a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>

                        <div class="col-sm-12 select-table table-striped">
                            <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 search-collapse">
                            <form id="formId2">
                                <div class="select-list">
                                    <ul>
                                        <li>
                                            期间：<input type="text" name="quarter"/>
                                        </li>

                                        <li>
                                            <a class="btn btn-primary btn-rounded btn-sm" onclick="mySearch(2)"><i
                                                    class="fa fa-search"></i>&nbsp;搜索</a>
                                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('formId2')"><i
                                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                                            <a class="btn btn-primary btn-rounded btn-sm"
                                               onclick="myExportExcel('2')"><i class="fa fa-download"></i> 导出</a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 select-table table-striped">
                            <table id="bootstrap-table-2" data-mobile-responsive="true"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 search-collapse">
                            <form id="formId3">
                                <div class="select-list">
                                    <ul>
                                        <li>
                                            期间：<input type="text" name="quarter"/>
                                        </li>

                                        <li>
                                            <a class="btn btn-primary btn-rounded btn-sm" onclick="mySearch(3)"><i
                                                    class="fa fa-search"></i>&nbsp;搜索</a>
                                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('formId3')"><i
                                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                                            <a class="btn btn-primary btn-rounded btn-sm"
                                               onclick="myExportExcel('3')"><i class="fa fa-download"></i> 导出</a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 select-table table-striped">
                            <table id="bootstrap-table-3" data-mobile-responsive="true"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:gather:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:gather:remove')}]];
    var prefix = ctx + "system/ywConsumeGather";

    function mImportExcel(id) {
        if (id == 1) {
            $.table._option.importUrl = prefix + "/importData";
            $.table._option.importTemplateUrl = prefix + "/importTemplate";
            $.table._option.modalName = "消耗信息"
        } else if (id == 2) {
            $.table._option.importUrl = prefix + "/importTaskData";
            $.table._option.importTemplateUrl = prefix + "/importTaskTemplate";
            $.table._option.modalName = "任务信息"
        }
        $.table.importExcel();
    }

    function mySearch(id) {
        if (id == '1') {
            $.table._option.id = 'bootstrap-table-1';
        } else if (id == '2') {
            $.table._option.id = 'bootstrap-table-2';
        } else if (id == '3') {
            $.table._option.id = 'bootstrap-table-3';
        }
        $.table.search('formId' + id);
    }

    function myExportExcel(id) {
        if (id == '1') {
            $.table._option.exportUrl = prefix + "/export";
            $.table._option.modalName = "个人消耗情况汇总";
        } else if (id == '2') {
            $.table._option.exportUrl = prefix + "/exportRankConsumption";
            $.table._option.modalName = "消耗完成率排名";
        } else if (id == '3') {
            $.table._option.exportUrl = prefix + "/exportTotalConsume";
            $.table._option.modalName = "华东华北消耗整体完成率";
        }
        $.table.exportExcel('fromId' + id);
    }

    var options1 = {
        id: "bootstrap-table-1",
        url: prefix + "/list",
        exportUrl: prefix + "/export",
        modalName: "消耗毛利汇总",
        showExport: false,
        showFooter: false,
        pagination: false,
        importUrl: prefix + "/importData",
        importTemplateUrl: prefix + "/importTemplate",
        columns: [{
            checkbox: true
        },
            {
                field: 'id',
                title: '主键',
                visible: false
            },
            {
                field: 'quarter',
                title: '期间',
                sortable: true
            },
            {
                field: 'area',
                title: '区域',
                sortable: true
            },
            {
                field: 'deptName',
                title: '部门',
                sortable: true
            },
            {
                field: 'salesManager',
                title: '销售经理',
                sortable: true
            },
            {
                field: 'media',
                title: '购买媒体',
                sortable: true
            },
            {
                field: 'quotas',
                title: '季度任务',
                sortable: true
            },
            {
                field: 'summation',
                title: '完成金额',
                sortable: true
            },
            {
                field: 'xhptAmt',
                title: '平推完成金额',
                sortable: true
            },
            {
                field: 'timeSchedule',
                title: '时间进度',
                sortable: true
            },
            {
                field: 'xhwcRate',
                title: '完成率',
                sortable: true
            }]
    };

    var options2 = {
        id: "bootstrap-table-2",
        url: prefix + "/rankConsumptionlist",
        exportUrl: prefix + "/exportRankConsumption",
        modalName: "业绩消耗排名",
        showSearch: false,
        showRefresh: false,
        showToggle: false,
        showColumns: false,
        showExport: false,
        importUrl: prefix + "/importData",
        importTemplateUrl: prefix + "/importTemplate",
        columns: [
            [
                {
                    title: '业绩消耗排名列表',
                    align: 'center',
                    colspan: 6
                }
            ],
            [{
                checkbox: true
            },
                {
                    field: 'rownum',
                    title: '业绩消耗排名'
                },
                {
                    field: 'saleManager',
                    title: '销售经理'
                },
                {
                    field: 'quotas',
                    title: '业绩消耗总任务'
                },
                {
                    field: 'summation',
                    title: '业绩消耗完成'
                },
                {
                    field: 'rate',
                    title: '业绩消耗完成率'
                }]
        ]
    };

    var options3 = {
        id: "bootstrap-table-3",
        url: prefix + "/listTotalConsume",
        exportUrl: prefix + "/exportTotalConsume",
        modalName: "华东华北消耗整体完成率",
        showExport: false,
        showSearch: false,
        showRefresh: false,
        showToggle: false,
        showColumns: false,
        pagination: false,
        columns: [
            [
                {
                    title: '华东华北毛利整体完成率',
                    align: 'center',
                    colspan: 8
                }
            ],
            [{
                checkbox: true
            },
                {
                    field: 'deptName',
                    title: '部门'
                },
                {
                    field: 'media',
                    title: '购买媒体'
                },
                {
                    field: 'quotas',
                    title: '消耗任务'
                },
                {
                    field: 'summation',
                    title: '消耗完成金额'
                },
                {
                    field: 'xhptAmt',
                    title: '平推消耗任务完成金额'
                },
                {
                    field: 'xhwcRate',
                    title: '实际消耗完成老率'
                },
                {
                    field: 'timeSchedule',
                    title: '时间进度'
                }]
        ]
    };

    $(function () {
        $.table.init(options1);
    });

    function initTable(id) {
        if (id == 1) {
            $.table.init(options1);
        } else if (id == 2) {
            $.table.init(options2);
        } else if (id == 3) {
            $.table.init(options3);
        }
    }

</script>
</body>
<form id="importForm" enctype="multipart/form-data" class="mt20 mb10" style="display: none;">
    <div class="col-xs-offset-1">
        <input type="file" id="file" name="file"/>
        <div class="mt10 pt5">
            <input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
            &nbsp; <a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i
                class="fa fa-file-excel-o"></i> 下载模板</a>
        </div>
        <font color="red" class="pull-left mt10">
            提示：仅允许导入“xls”或“xlsx”格式文件！
        </font>
    </div>
</form>
</html>