<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改毛利情况')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-ywGrossMargins-edit" th:object="${ywGrossMargins}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">销售经理：</label>
				<div class="col-sm-8">
					<input id="salesManager" name="salesManager" th:field="*{salesManager}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">媒体：</label>
				<div class="col-sm-8">
					<input id="media" name="media" th:field="*{media}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">广告主：</label>
				<div class="col-sm-8">
					<input id="advertiser" name="advertiser" th:field="*{advertiser}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">签约方：</label>
				<div class="col-sm-8">
					<input id="signatory" name="signatory" th:field="*{signatory}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">期间：</label>
				<div class="col-sm-8">
					<input id="quarter" name="quarter" th:field="*{quarter}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">毛利：</label>
				<div class="col-sm-8">
					<input id="grossMargin" name="grossMargin" th:field="*{grossMargin}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/ywGrossMargins";
		$("#form-ywGrossMargins-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-ywGrossMargins-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
