<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增商机-欠款')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-ywArrearage-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">合同类型：</label>
				<div class="col-sm-8">
					<input id="contractType" name="contractType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">合同编号：</label>
				<div class="col-sm-8">
					<input id="contractNo" name="contractNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">排期编号：</label>
				<div class="col-sm-8">
					<input id="scheduleNo" name="scheduleNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">款项编号：</label>
				<div class="col-sm-8">
					<input id="fundNo" name="fundNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">我方签约公司：</label>
				<div class="col-sm-8">
					<input id="contractCompany" name="contractCompany" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">签约方：</label>
				<div class="col-sm-8">
					<input id="signatory" name="signatory" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">广告主：</label>
				<div class="col-sm-8">
					<input id="advertiser" name="advertiser" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">购买媒体：</label>
				<div class="col-sm-8">
					<input id="media" name="media" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">区域：</label>
				<div class="col-sm-8">
					<input id="area" name="area" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">所属部门：</label>
				<div class="col-sm-8">
					<input id="deptName" name="deptName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">销售经理：</label>
				<div class="col-sm-8">
					<input id="saleManager" name="saleManager" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">销售助理：</label>
				<div class="col-sm-8">
					<input id="saleAssistant" name="saleAssistant" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">应收款日期：</label>
				<div class="col-sm-8">
					<input id="dueDate" name="dueDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">月初应收账款金额：</label>
				<div class="col-sm-8">
					<input id="firstDueAmt" name="firstDueAmt" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">实时应收金额：</label>
				<div class="col-sm-8">
					<input id="dueAmt" name="dueAmt" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">未到账期未收款：</label>
				<div class="col-sm-8">
					<input id="notReceiveAmt" name="notReceiveAmt" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">实时客户已逾期款：</label>
				<div class="col-sm-8">
					<input id="overdueAmt" name="overdueAmt" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">逾期天数：</label>
				<div class="col-sm-8">
					<input id="overdueDayNum" name="overdueDayNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预计回款时间：</label>
				<div class="col-sm-8">
					<input id="planReturnDate" name="planReturnDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预计回款金额：</label>
				<div class="col-sm-8">
					<input id="planReturnAmt" name="planReturnAmt" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">回款可能性：</label>
				<div class="col-sm-8">
					<input id="returnProb" name="returnProb" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">实际回款金额：</label>
				<div class="col-sm-8">
					<input id="realReturnAmt" name="realReturnAmt" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">回款类型：</label>
				<div class="col-sm-8">
					<input id="returnType" name="returnType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建者：</label>
				<div class="col-sm-8">
					<input id="createBy" name="createBy" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新者：</label>
				<div class="col-sm-8">
					<input id="updateBy" name="updateBy" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新时间：</label>
				<div class="col-sm-8">
					<input id="updateTime" name="updateTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/ywArrearage"
		$("#form-ywArrearage-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-ywArrearage-add').serialize());
	        }
	    }
	</script>
</body>
</html>
