<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.YwGrossMarginsMapper">

    <resultMap type="YwGrossMargins" id="YwGrossMarginsResult">
        <result property="id" column="id"/>
        <result property="salesManager" column="sales_manager"/>
        <result property="media" column="media"/>
        <result property="advertiser" column="advertiser"/>
        <result property="signatory" column="signatory"/>
        <result property="grossMargin" column="gross_margin"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="quarter" column="quarter"/>
        <result property="term" column="term"/>
    </resultMap>

    <sql id="selectYwGrossMarginsVo">
        select id, sales_manager, media, advertiser, signatory, gross_margin, quarter, term, create_by, create_time, update_by, update_time, remark from yw_gross_margins
    </sql>

    <select id="selectYwGrossMarginsList" parameterType="YwGrossMargins" resultMap="YwGrossMarginsResult">
        <include refid="selectYwGrossMarginsVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="salesManager != null  and salesManager != '' ">and sales_manager = #{salesManager}</if>
            <if test="media != null  and media != '' ">and media = #{media}</if>
            <if test="advertiser != null  and advertiser != '' ">and advertiser = #{advertiser}</if>
            <if test="signatory != null  and signatory != '' ">and signatory = #{signatory}</if>
            <if test="grossMargin != null ">and gross_margin = #{grossMargin}</if>
            <if test="quarter != null  and quarter != '' ">and quarter = #{quarter}</if>
            <if test="term != null  and term != '' ">and term = #{term}</if>
            <if test="createBy != null  and createBy != '' ">and create_by = #{createBy}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != '' ">and update_by = #{updateBy}</if>
            <if test="updateTime != null ">and update_time = #{updateTime}</if>
            <if test="remark != null  and remark != '' ">and remark = #{remark}</if>
        </where>
    </select>

    <select id="selectYwGrossMarginsById" parameterType="Long" resultMap="YwGrossMarginsResult">
        <include refid="selectYwGrossMarginsVo"/>
        where id = #{id}
    </select>

    <insert id="insertYwGrossMargins" parameterType="YwGrossMargins" useGeneratedKeys="true" keyProperty="id">
        insert into yw_gross_margins
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="salesManager != null  and salesManager != ''  ">sales_manager,</if>
            <if test="media != null  and media != ''  ">media,</if>
            <if test="advertiser != null  and advertiser != ''  ">advertiser,</if>
            <if test="signatory != null  and signatory != ''  ">signatory,</if>
            <if test="grossMargin != null  ">gross_margin,</if>
            <if test="createBy != null  and createBy != ''  ">create_by,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
            <if test="quarter != null  and quarter != ''  ">quarter,</if>
            <if test="term != null  and term != ''  ">term,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="salesManager != null  and salesManager != ''  ">#{salesManager},</if>
            <if test="media != null  and media != ''  ">#{media},</if>
            <if test="advertiser != null  and advertiser != ''  ">#{advertiser},</if>
            <if test="signatory != null  and signatory != ''  ">#{signatory},</if>
            <if test="grossMargin != null  ">#{grossMargin},</if>
            <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="quarter != null  and quarter != ''  ">#{quarter},</if>
            <if test="term != null  and term != ''  ">#{term},</if>
        </trim>
    </insert>

    <update id="updateYwGrossMargins" parameterType="YwGrossMargins">
        update yw_gross_margins
        <trim prefix="SET" suffixOverrides=",">
            <if test="salesManager != null  and salesManager != ''  ">sales_manager = #{salesManager},</if>
            <if test="media != null  and media != ''  ">media = #{media},</if>
            <if test="advertiser != null  and advertiser != ''  ">advertiser = #{advertiser},</if>
            <if test="signatory != null  and signatory != ''  ">signatory = #{signatory},</if>
            <if test="grossMargin != null  ">gross_margin = #{grossMargin},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="quarter != null  and quarter != ''  ">quarter = #{quarter},</if>
            <if test="term != null  and term != ''  ">term = #{term},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYwGrossMarginsById" parameterType="Long">
        delete from yw_gross_margins where id = #{id}
    </delete>

    <delete id="deleteYwGrossMarginsByIds" parameterType="String">
        delete from yw_gross_margins where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>