<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('整体汇总列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		 <div class="row">
			 <a class="btn btn-warning" onclick="myExportExcel('3')" shiro:hasPermission="system:totalGather:export">
				 <i class="fa fa-download"></i> 导出
			 </a>
			 <div class="col-sm-12 select-table table-striped">
				 <table id="bootstrap-table-3" data-mobile-responsive="true"></table>
			 </div>
		 </div>
		 <div class="row">
			 <a class="btn btn-warning" onclick="myExportExcel('1')" shiro:hasPermission="system:totalGather:export">
				 <i class="fa fa-download"></i> 导出
			 </a>
			 <div class="col-sm-12 select-table table-striped">
				 <table id="bootstrap-table-1" data-mobile-responsive="true"></table>
			 </div>
		 </div>
		 <div class="row">
			 <a class="btn btn-warning" onclick="myExportExcel('2')" shiro:hasPermission="system:totalGather:export">
				 <i class="fa fa-download"></i> 导出
			 </a>
			 <div class="col-sm-12 select-table table-striped">
				 <table id="bootstrap-table-2" data-mobile-responsive="true"></table>
			 </div>
		 </div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:gather:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:gather:remove')}]];
        var prefix = ctx + "system/totalGather";

        function myExportExcel(id){
        	if(id == '1'){
				$.table._option.exportUrl = "毛利排名列表";
				$.table._option.modalName = prefix + "/exportRankGrossMargin";
			}
        	else if(id == '2'){
				$.table._option.exportUrl = "业绩消耗排名";
				$.table._option.modalName = prefix + "/exportRankConsumption";
			}
        	else if(id == '3'){
				$.table._option.exportUrl = prefix + "/export";
				$.table._option.modalName = "华东、华北整体完成率";
			}
			$.table.exportExcel();
		}

		$(function() {
			var options = {
				id: "bootstrap-table-3",
				url: prefix + "/list",
				exportUrl: prefix + "/export",
				modalName: "华东、华北整体完成率",
				showSearch: false,
				showRefresh: false,
				showToggle: false,
				showColumns: false,
				columns: [
					[
						{
							title : '华东、华北整体完成率',
							align : 'center',
							colspan : 8
						}
					],
					[{
						checkbox: true
					},
						{
							field : 'deptName',
							title : '部门'
						},
						{
							field : 'quotasGrossMargin',
							title : '毛利任务'
						},
						{
							field : 'quotasConsumption',
							title : '消耗任务'
						},
						{
							field : 'totalSummation',
							title : '消耗完成金额'
						},
						{
							field : 'totalGrossMargin',
							title : '毛利完成金额'
						},
						{
							field : 'consumptionRate',
							title : '消耗完成率'
						},
						{
							field : 'grossMarginRate',
							title : '毛利完成率'
						}]
				]
			};
			$.table.init(options);
		});

		$(function() {
			var options = {
				id: "bootstrap-table-1",
				url: prefix + "/rankGrossMarginList",
				exportUrl: prefix + "/exportRankGrossMargin",
				modalName: "毛利排名列表",
				showSearch: false,
				showRefresh: false,
				showToggle: false,
				showColumns: false,
				columns: [
						[
							{
								title : '毛利排名列表',
								align : 'center',
								colspan : 6
							}
						],
						[{
					checkbox: true
				},
					{
						field : 'rownum',
						title : '毛利排名'
					},
					{
						field : 'saleManager',
						title : '销售经理'
					},
					{
						field : 'quotas',
						title : '毛利任务'
					},
					{
						field : 'grossMargin',
						title : '毛利实际完成'
					},
					{
						field : 'rate',
						title : '毛利完成率'
					}]
						]
			};
			$.table.init(options);
		});

		$(function() {
			var options = {
				id: "bootstrap-table-2",
				url: prefix + "/rankConsumptionlist",
				exportUrl: prefix + "/exportRankConsumption",
				modalName: "业绩消耗排名",
				showSearch: false,
				showRefresh: false,
				showToggle: false,
				showColumns: false,
				columns: [
						[
							{
								title : '业绩消耗排名列表',
								align : 'center',
								colspan : 6
							}
						],
						[{
					checkbox: true
				},
					{
						field : 'rownum',
						title : '业绩消耗排名'
					},
					{
						field : 'saleManager',
						title : '销售经理'
					},
					{
						field : 'quotas',
						title : '业绩消耗总任务'
					},
					{
						field : 'summation',
						title : '业绩消耗完成'
					},
					{
						field : 'rate',
						title : '业绩消耗完成率'
					}]
						]
			};
			$.table.init(options);
		});

	</script>
</body>
</html>